@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  color: #1f2937;
  background-color: #f8f5f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8f5f2;
}
